<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CounterMetricsConn"
         connectionString="Data Source=MP-TRAINING5;Initial Catalog=CounterMetricsDB;Integrated Security=True;User Id=MP-TRAINING5\1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicHttpBindingManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="netMsmqBindingManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="basicHttpBindingManagerBehavior" name="CounterMetrics.Managers.AccountManager">
        <endpoint address="http://localhost:4300/AccountManager" binding="wsHttpBinding"
                  bindingConfiguration="bindConfig" name="AccountManagerHttpEndpoint"
                  contract="CounterMetrics.Contracts.Managers.IAccountManager" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4300/AccountManager" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicHttpBindingManagerBehavior" name="CounterMetrics.Managers.AuthManager">
        <endpoint address="http://localhost:4300/AuthManager" binding="wsHttpBinding" bindingConfiguration="bindConfig"
                  name="AuthManagerHttpEndpoint" contract="CounterMetrics.Contracts.Managers.IAuthManager" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4300/AuthManager" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicHttpBindingManagerBehavior" name="CounterMetrics.Managers.CounterManager">
        <endpoint address="http://localhost:4300/CounterManager" binding="wsHttpBinding"
                  bindingConfiguration="bindConfig" name="CounterManagerHttpEndpoint"
                  contract="CounterMetrics.Contracts.Managers.ICounterManager" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4300/CounterManager" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicHttpBindingManagerBehavior" name="CounterMetrics.Managers.MetricsManager">
        <endpoint address="http://localhost:4300/MetricsManager" binding="wsHttpBinding"
                  bindingConfiguration="bindConfig" name="MetricsManagerHttpEndpoint"
                  contract="CounterMetrics.Contracts.Managers.IMetricsManager" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4300/MetricsManager" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="bindConfig">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="UserRepository"
                address="net.tcp://localhost:9000/UserRepository"
                binding="netTcpBinding"
                contract="CounterMetrics.Contracts.DataAccess.IUserRepository" />
      <endpoint name="CounterRepository"
                address="net.tcp://localhost:9000/CounterRepository"
                binding="netTcpBinding"
                contract="CounterMetrics.Contracts.DataAccess.ICounterRepository" />
      <endpoint name="MetricsStoreRepository"
                address="net.msmq://localhost/private/MetricsStoreRepository"
                binding="netMsmqBinding"
                contract="CounterMetrics.Contracts.DataAccess.IMetricsStoreRepository" />
      <endpoint name="MetricsRetrieveRepository"
                address="net.tcp://localhost:9000/MetricsRetrieveRepository"
                binding="netTcpBinding"
                contract="CounterMetrics.Contracts.DataAccess.IMetricsRetrieveRepository" />
    </client>
  </system.serviceModel>
</configuration>