<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CounterMetricsConn"
         connectionString="Data Source=MP-TRAINING5;Initial Catalog=CounterMetricsDB;Integrated Security=True;User Id=MP-TRAINING5\1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="QueueName" value=".\private$\MetricsStoreRepository" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicTcpServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="netMsmqBindingManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.UserRepository">
        <endpoint address="net.tcp://localhost:9000/UserRepository" binding="netTcpBinding"
                  bindingConfiguration="bindConfig" name="UserRepositoryNetTcpEndpoint"
                  contract="CounterMetrics.Contracts.DataAccess.IUserRepository" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/UserRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.CounterRepository">
        <endpoint address="net.tcp://localhost:9000/CounterRepository" binding="netTcpBinding"
                  bindingConfiguration="bindConfig" name="CounterRepositoryNetTcpEndpoint"
                  contract="CounterMetrics.Contracts.DataAccess.ICounterRepository" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/CounterRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.MetricsStoreRepository">
        <endpoint address="net.msmq://localhost/private/MetricsStoreRepository" binding="netMsmqBinding"
                  bindingConfiguration="bindConfigMsmq" name="MetricsStoreRepositoryNetMsmqEndpoint"
                  contract="CounterMetrics.Contracts.DataAccess.IMetricsStoreRepository" />
        <!--<endpoint address="mex" binding="mexmsmqBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/MetricsStoreRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior"
               name="CounterMetrics.DataAccess.MetricsRetrieveRepository">
        <endpoint address="net.tcp://localhost:9000/MetricsRetrieveRepository" binding="netTcpBinding"
                  bindingConfiguration="bindConfig" name="MetricsRetrieveRepositoryNetTcpEndpoint"
                  contract="CounterMetrics.Contracts.DataAccess.IMetricsRetrieveRepository" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/MetricsRetrieveRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior"
               name="CounterMetrics.DataAccess.WcfSessionContextRepository">
        <endpoint address="net.tcp://localhost:9000/SessionContextRepository" binding="netTcpBinding"
                  bindingConfiguration="bindConfig" name="SessionContextRepositoryNetTcpEndpoint"
                  contract="CounterMetrics.Contracts.DataAccess.ISessionContextRepository" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/SessionContextRepository" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="bindConfig">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <netMsmqBinding>
        <binding name="bindConfigMsmq">
          <security mode="None">
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>