<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CounterMetricsConn"
         connectionString="Data Source=MP-TRAINING5;Initial Catalog=CounterMetricsDB;Integrated Security=True;User Id=MP-TRAINING5\1"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint name="AccountManager"
                address="http://localhost:4300/AccountManager"
                binding="basicHttpBinding"
                bindingConfiguration="bindConfig"
                contract="CounterMetrics.Contracts.Managers.IAccountManager" />
      <endpoint name="AuthManager"
                address="http://localhost:4300/AuthManager"
                binding="basicHttpBinding"
                bindingConfiguration="bindConfig"
                contract="CounterMetrics.Contracts.Managers.IAuthManager" />
      <endpoint name="CounterManager"
                address="http://localhost:4300/CounterManager"
                binding="basicHttpBinding"
                bindingConfiguration="bindConfig"
                contract="CounterMetrics.Contracts.Managers.ICounterManager" />
      <endpoint name="MetricsManager"
                address="http://localhost:4300/MetricsManager"
                binding="basicHttpBinding"
                bindingConfiguration="bindConfig"
                contract="CounterMetrics.Contracts.Managers.IMetricsManager" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="bindConfig">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>