<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="basicTcpServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="netMsmqBindingManagerBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.UserRepository">
        <endpoint address="net.tcp://localhost:9000/UserRepository" binding="netTcpBinding" bindingConfiguration="bindConfig" name="ServerRepositoryNetTcpEndpoint" contract="CounterMetrics.DataAccess.IUserRepository"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/UserRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.CounterRepository">
        <endpoint address="net.tcp://localhost:9000/CounterRepository" binding="netTcpBinding" bindingConfiguration="bindConfig" name="ServerRepositoryNetTcpEndpoint" contract="CounterMetrics.DataAccess.ICounterRepository"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/CounterRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.MetricsStoreRepository">
        <endpoint address="net.tcp://localhost:9000/MetricsStoreRepository" binding="netTcpBinding" bindingConfiguration="bindConfig" name="ServerRepositoryNetTcpEndpoint" contract="CounterMetrics.DataAccess.IMetricsStoreRepository"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/MetricsStoreRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.MetricsRetrieveRepository">
        <endpoint address="net.tcp://localhost:9000/MetricsRetrieveRepository" binding="netMsmqBinding" bindingConfiguration="bindConfig" name="ServerRepositoryNetTcpEndpoint" contract="CounterMetrics.DataAccess.IMetricsRetrieveRepository"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/MetricsRetrieveRepository" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="basicTcpServiceBehavior" name="CounterMetrics.DataAccess.SessionContextRepository">
        <endpoint address="net.tcp://localhost:9000/SessionContextRepository" binding="netTcpBinding" bindingConfiguration="bindConfig" name="ServerRepositoryNetTcpEndpoint" contract="CounterMetrics.DataAccess.ISessionContextRepository"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/SessionContextRepository" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="bindConfig">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>